@import url(./slick.css);

a,
ul,
ol,
li {
    text-decoration: none;
    list-style: none; 
    margin: 0;
    padding-left: 0;
    color: inherit;
}

.body {
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #131313;
}

.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-right: 70px;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 30px;
}

.nav__link {
    text-transform: uppercase;
    padding: 42px 20px;
    transition: all 0.3s;
}

.nav__link:hover {
    background-color: #131313;
    color: #FFFFFF;
}

.bike {
    padding: 100px 0 150px;
}

.bike__inner {
    display: flex;
    justify-content: space-between;
}

.bike__column-slider {
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}

.bike__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    margin: 60px 0 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bike__sub-title {
    color: #6F6F6F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    margin: 0 0 60px;
}

.bike__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.bike__link {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    padding: 28px 81px;
    background-color: #131313;
    color: #FFFFFF;
    margin-top: 80px;
}

.bike__slider .slick-dots {
    right: 0;
    top: 50px;
}
 
.slick-dots {
    position: absolute;
}

.slick-dots li + li {
    padding-top: 10px;
}

.slick-dots button {
    background-color: #131313;
    font-size: 0;
    padding: 0;
    border: none; 
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 3s;
}

.slick-dots button:hover,
.slick-active button {
    background-color: #FF4040;
}

.bike__list {
    display: flex;
    justify-content: space-around;
}

.bike__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 60px;
    min-width: 160px;
}

.bike__item-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px; 
}

.bike__item-text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    margin: auto 0;
}

.info {
    padding-bottom: 150px;
}

.info__inner {
    display: flex;
}

.info__img {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
}

.info__item {
    font-family: 'Inter';
    color: #131313;
    max-width: 490px;
}

.info__item:not(:first-child) {
    padding-top: 50px;
}

.info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 10px 0;
}

.info__text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin: auto 0;
    max-width: 450px;
}

.characteristics {
    font-family: 'Inter';
    font-style: normal;
    margin-bottom: 150px;
    line-height: 1.2;
    color: #131313;
}

.characteristics__titles {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #131313;
}

.characteristics__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #131313;
    padding: 2px 0 3px;
}

.characteristics__inner {
    display: flex;
}

.characteristics__name {
    font-weight: 400;
    font-size: 14px;
    flex-basis: 285px;
    padding-right: 25px;
}

.characteristics__descr {
    font-weight: 400;
    font-size: 14px;
    flex-basis: 285px;
}

.characteristics__img {
    align-self: center;
}

.characteristics__items {
    flex-basis: 570px;
    margin-right: 60px;
}

.characteristics__list:not(:first-child) {
    padding-top: 30px;
}

.characteristics__line {
    display: flex;
    padding-top: 5px;
}
